In [58]:
# Import libraries
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# https://www.kaggle.com/datasets/jessemostipak/hotel-booking-demand

In [2]:
conn = sqlite3.connect('hotel_bookings.db')
print("Opened database successfully")

cur = conn.cursor()

Opened database successfully

In [3]:
q1 = "SELECT * FROM hotel_bookings;"

In [4]:
# All data
data1 = cur.execute(q1)
data1 = cur.fetchall()

col = ['hotel','is_canceled','lead_time','arrival_date_year','arrival_date_month','arrival_date_week_number',
           'arrival_date_day_of_month','stays_in_weekend_nights','stays_in_week_nights','adults',
           'children','babies','meal','country','market_segment','distribution_channel','is_repeated_guest',
           'previous_cancellations','previuos_booking_not_canceled','reserved_room_type','assigned_room_type',
           'booking_changes','deposit_type','agent','company','days_in_waiting_list','customer_type','adr',
           'required_car_parking_spaces','total_of_special_requests','reservation_status','reservation_status_date']
df1 = pd.DataFrame(data1,columns = col)
df1

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,None,None,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,None,None,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,None,None,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304,None,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240,None,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119384,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394,None,0,Transient,96.14,0,0,Check-Out,2017-09-06
119385,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9,None,0,Transient,225.43,0,2,Check-Out,2017-09-07
119386,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9,None,0,Transient,157.71,0,4,Check-Out,2017-09-07
119387,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89,None,0,Transient,104.40,0,0,Check-Out,2017-09-07
119388,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9,None,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [43]:
# Find the number of null values 
q2 = """SELECT SUM(case when hotel is null then 1 else 0 end),
        SUM(case when is_canceled is null then 1 else 0 end), 
        SUM(case when lead_time is null then 1 else 0 end), 
        SUM(case when arrival_date_year is null then 1 else 0 end),
        SUM(case when arrival_date_month is null then 1 else 0 end),
        SUM(case when arrival_date_week_number is null then 1 else 0 end),
        SUM(case when arrival_date_day_of_month is null then 1 else 0 end),
        SUM(case when stays_in_weekend_nights is null then 1 else 0 end),
        SUM(case when stays_in_week_nights is null then 1 else 0 end),
        SUM(case when adults is null then 1 else 0 end),
        SUM(case when children is null then 1 else 0 end),
        SUM(case when babies is null then 1 else 0 end),
        SUM(case when meal is null then 1 else 0 end),
        SUM(case when country is null then 1 else 0 end),
        SUM(case when market_segment is null then 1 else 0 end),
        SUM(case when distribution_channel is null then 1 else 0 end),
        SUM(case when is_repeated_guest is null then 1 else 0 end),
        SUM(case when previous_cancellations is null then 1 else 0 end),
        SUM(case when previuos_booking_not_canceled is null then 1 else 0 end),
        SUM(case when reserved_room_type is null then 1 else 0 end),
        SUM(case when assigned_room_type is null then 1 else 0 end),
        SUM(case when booking_changes is null then 1 else 0 end),
        SUM(case when deposit_type is null then 1 else 0 end),
        SUM(case when agent is null then 1 else 0 end),
        SUM(case when company is null then 1 else 0 end),
        SUM(case when days_in_waiting_list is null then 1 else 0 end),
        SUM(case when customer_type is null then 1 else 0 end),
        SUM(case when adr is null then 1 else 0 end),
        SUM(case when required_car_parking_spaces is null then 1 else 0 end),
        SUM(case when total_of_special_requests is null then 1 else 0 end),
        SUM(case when reservation_status is null then 1 else 0 end),
        SUM(case when reservation_status_date is null then 1 else 0 end)
        FROM hotel_bookings;"""

In [47]:
# Find the number of null values 
data2 = cur.execute(q2)
data2 = cur.fetchall()

df2 = pd.DataFrame(data2,columns=col)
df2 = df2.T
df2.columns = ['Number_of_Null_Values']
df2

                               Number_of_Null_Values
hotel                                              0
is_canceled                                        0
lead_time                                          0
arrival_date_year                                  0
arrival_date_month                                 0
arrival_date_week_number                           0
arrival_date_day_of_month                          0
stays_in_weekend_nights                            0
stays_in_week_nights                               0
adults                                             0
children                                           0
babies                                             0
meal                                               0
country                                          488
market_segment                                     0
distribution_channel                               0
is_repeated_guest                                  0
previous_cancellations                             0
previuos_booking_not_canceled                      0
reserved_room_type                                 0
assigned_room_type                                 0
booking_changes                                    0
deposit_type                                       0
agent                                          16339
company                                       112593
days_in_waiting_list                               0
customer_type                                      0
adr                                                0
required_car_parking_spaces                        0
total_of_special_requests                          0
reservation_status                                 0
reservation_status_date                            0

In [48]:
# Find the number of canceled bookings
q3 = """SELECT 
        SUM(is_canceled),
        COUNT(*),
        SUM(is_canceled)*100/COUNT(*)
        FROM hotel_bookings;"""

In [49]:
data3 = cur.execute(q3)
data3 = cur.fetchall()

col3 = ['Canceled_Bookings','Total_Bookings','%_of_Total']
df3 = pd.DataFrame(data3,columns=col3)
df3

   Canceled_Bookings  Total_Bookings  %_of_Total
0              44224          119389          37

In [50]:
# Find the number of canceled bookings depending on type of hotel
q4 = """SELECT hotel,
        SUM(is_canceled),
        COUNT(*),
        SUM(is_canceled)*100/count(*)
        from hotel_bookings
        group by hotel;"""

In [51]:
data4 = cur.execute(q4)
data4 = cur.fetchall()

col4 = ['Hotel','Canceled_Bookings','Total_Bookings','%ofTotal']
df4 = pd.DataFrame(data4,columns=col4)
df4

          Hotel  Canceled_Bookings  Total_Bookings  %ofTotal
0    City Hotel              33102           79330        41
1  Resort Hotel              11122           40059        27

In [54]:
# Find the most popular month
q5 = """SELECT arrival_date_month,
        COUNT (*)
        FROM hotel_bookings
        GROUP BY arrival_date_month"""

In [55]:
data5 = cur.execute(q5)
data5 = cur.fetchall()

col5 = ['Arrival_Month','Number_of_Bookings']
df5 = pd.DataFrame(data5,columns=col5)
df5

   Arrival_Month  Number_of_Bookings
0          April               11089
1         August               13877
2       December                6780
3       February                8068
4        January                5929
5           July               12661
6           June               10938
7          March                9794
8            May               11791
9       November                6794
10       October               11160
11     September               10508

In [ ]:
q51 = """SELECT arrival_date_month,
         COUNT(*) 
         FROM hotel_bookings
         WHERE is_canceled = '0'
         GROUP BY arrival_date_month
         ORDER BY count(*) DESC;"""

In [ ]:
q52 = """SELECT m.arrival_date_month, m.C
         FROM ( 
                 SELECT arrival_date_month, 
                 COUNT(*) AS C, 
                 is_canceled
                 FROM hotel_bookings 
                 GROUP BY  arrival_date_month, is_canceled) m
         WHERE m.is_canceled = '0';"""

In [ ]:
# Find the most popular meal package
q6 = """SELECT COUNT(*),meal
FROM hotel_bookings
GROUP BY meal"""

In [ ]:
q61 = """SELECT  COUNT(*),
 SUM(CASE  WHEN meal  in ('BB', 'FB', 'HB') THEN 1 else 0 end),
 SUM(CASE WHEN meal in ( 'SC', 'Undefined') THEN 1 else 0 end)
FROM hotel_bookings"""

In [ ]:
q62 = """SELECT  COUNT(*),SUM(children),
 SUM(CASE  WHEN meal = 'BB' or meal = 'FB' or  meal = 'HB' THEN 1 else 0 end),
 SUM(CASE WHEN meal = 'SC' or meal = 'Undefined' THEN 1 else 0 end)
FROM hotel_bookings
WHERE children = 0 and babies = 0
UNION
SELECT   COUNT(*), sum(children),
SUM(CASE  WHEN meal = 'BB' or meal = 'FB' or  meal = 'HB' THEN 1 else 0 end),
SUM(CASE WHEN meal = 'SC' or meal = 'Undefined'  THEN 1 else 0 end)
FROM hotel_bookings
WHERE  (children <> 0 or babies <> 0) or (children <> 0 AND babies <> 0)"""